PORT=5505
NODE_ENV=DEV

DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=ERP_db
BASE_URL=https://api-dev.ERP.com


# Redis
REDIS_HOST=ERP-redis
REDIS_PASSWORD=ERP@Redis2026!
REDIS_PORT=6379
REDIS_DB=0
REDIS_KEYS_TTL=10m


# JWT
JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=1d
REFRESH_TOKEN_SECRET=refresh_token_secret
REFRESH_TOKEN_EXPIRY=180d


# Upload
UPLOAD_BASE_PATH=uploads
MAX_FILE_SIZE=5242880
